body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #282828;
  color: #ffffff;
}

header {
  position: sticky;
  background: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: rgb(102, 102, 102);
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #000;
}

section {
  padding: 40px 20px;
}

form input, form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background: #ffffff;
  color: #ffffff;
}

.about p{
    font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  color: #000000;
  border: none;
  cursor: pointer;
}

nav a:hover, button:hover {
  text-decoration: underline;
  transition: 0.3s ease;
}
